:root{
    --DarkBlue: #242582;
    --Purple: #553D67;
    --Salmon: #f64c72;
    --Blue: #2f2fa2;
    --Green: #8ee4af;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    background: var(--Blue);
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    z-index: -100;
}



#hands-wrapper{
    position: relative;
    margin: 10px;
    margin-top: 5px;
    transition: rotate(200deg);
    z-index: -50;
}

#hands-wrapper i {
    font-size: 200px;
    color: #f64c72;
    margin: 0;
    text-shadow: 5px 5px 50px var(--Salmon);

}

header{
    margin-top: 20px;
}

header nav {
    color: azure;
    margin: 0;
    width: 100vw;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    

}

header nav ul {
    padding-top: 10px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#title {
    color: var(--Blue);
    font-size: 3.8rem;
    z-index: 10;
    position: relative;
    bottom: 150px;
    left: 40px;
    text-shadow: 1px 1px 2px var(--Salmon);
    transition: all 0.3s ease-in;
    
}

#title:hover {
    color: var(--Blue);
    font-size: 3.8rem;
    z-index: 10;
    position: relative;
    bottom: 150px;
    left: 40px;
    text-shadow: 1px 1px 10px var(--Salmon);
    transition: all 0.3s ease-in;
    
}

a {
    text-decoration: none;
}

.submit-form-btn{
    color: white;
    background: var(--DarkBlue);
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    box-shadow:  5px 5px 5px rgba(18, 19, 65, 0.9);
    transition: all 0.3 ease-in;
}


.play-button {
    width: 300px;
    height: 200px;
    background-color: rgba(36, 37, 130, 0.5);
    transition: all 0.3s ease-in;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 10px 10px 5px var(--DarkBlue);
}

.play-button:hover {
    width: 300px;
    height: 200px;
    background-color: rgba(36, 37, 130, 0.9);
    transition: all 0.3s ease-in;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: none;
}

.play-text {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.play-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.play-button-wrapper button{
    color: white;
}

.select-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.select-box {
    width: 500px;
    height: 200px;
    border: 1px solid white;
    background: rgba(36, 37, 130, 0.9);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 5px var(--DarkBlue);
}

#user_name{
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgba(18, 19, 65, 0.5);
}

#user_selection{
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgba(18, 19, 65, 0.5);
}


.results-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.results-box {
    padding-top: 50px;
    width: 500px;
    height: 150px;
    background-color: rgba(36, 37, 130, 0.9);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px var(--DarkBlue);
}


.results-box h3 {
    margin: 0;
}

#hands-gif {
    width: 200px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px var(--DarkBlue);
}